<!DOCTYPE html>
<html>
	<head>
		<title>Email verification</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			h1 {
				font-family: Arial, sans-serif;
				color: #2f2d2d;
				text-align: default;
			}
			p {
				font-family: Arial, sans-serif;
				font-size: 14px;
				text-align: default;
				color: #2f2d2d;
			}
		</style>
	</head>
	<body>
		<h1>Hello, {{name}} </h1>
        <h3>Use the following code to Verify your email</h3>

        <h3>Note that the code will expired in {{exp}} minutes. </h3>

		<h2>{{code}} </h2>

		<p>Thanks. you</p>
	</body>
</html>